<div class="row">
    <div class="col-20">
        <div class="container">
            <h3>Product Details</h3><br><br>
            <table>
                <tbody>
                    <tr>
                        <td style="padding-right: 40px;">Name:</td>
                        <td>{{productName}}</td>
                    </tr>
                    <tr>
                        <td>Price:</td>
                        <td>{{productPrice}}</td>
                    </tr>
                </tbody>
            </table><br><br>
            <button style="float: left;" routerLink="/products" value="back" class="btn btn-success"> Back </button>
        </div>
    </div>
</div>