<div class="container">
  <ul>
    <li style="flex-grow: 1; "><h2 style="text-align: left; padding-left: 15px;">Rest Shop</h2></li>
    <li style="flex-grow: 2; align-self: center;"><h4 style="text-align: center; color: white;">{{userEmail}}</h4></li>
    <div style="flex-grow: 1;">
      <li style="float: right;"><button class="success" *ngIf="!loggedIn()" routerLink="/login" type="submit">Login</button></li>
      <li style="float: right;"><button class="primary" *ngIf="!loggedIn()" routerLink="/register" type="submit">Register</button></li>
      <li style="float: right;"><button class="nav-link" *ngIf="loggedIn()" (click)="logout()">Logout</button></li>
    </div>
  </ul>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <div class="container-fluid">
        <h2 style="color: aliceblue;">Product List</h2>
        <div class="d-flex">        
          <button style="margin-right: 10px; background-color: white; color: green;" *ngIf="!loggedIn()" routerLink="/login" class="btn btn-success" type="submit"  data-bs-toggle="modal" data-bs-target="#exampleModal">Login</button>
          <button style="margin-right: 10px; background-color: white; color: blue;" *ngIf="!loggedIn()" routerLink="/register" class="btn btn-success" type="submit"  data-bs-toggle="modal" data-bs-target="#exampleModal">Register</button>
          <button style="margin-right: 10px; background-color: white; color: red; cursor: pointer;" class="nav-link" *ngIf="loggedIn()" (click)="logout()">Logout</button>
        </div>
      </div>
    </nav><br> -->
  <router-outlet></router-outlet>
</div>